<div>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Indigo Luna",
  "url": "https://indigoluna.store/",
  "logo": "https://cdn.shopify.com/s/files/1/1963/6793/files/indigo-luna-checkout_98168d47-f60b-4d20-af10-1214eab63aa7.png",
  "sameAs": [
    "https://www.instagram.com/indigoluna.store/",
    "https://www.facebook.com/indigolunastore/",
    "https://id.pinterest.com/indigolunastore/"
  ]
}
</script>
</div>